.Home{
    height:100vh;
    width: 98.9vw;
    background-color: green;
}


.Home {
    /* margin-top: 5vh; */
    height: 140vh;
    width: 98.8vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .Home ul {
    height:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .Home li {
    height: 45%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px 10px rgba(158, 152, 152, 0.5);
  }
  
  .Home img {
    height: 50%;
    width: 80%;
  }
  
  .Home h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: -60vw;
  }
  
  .Home h1 {
    overflow: hidden;
  }
  
  .btnDiv{
    height:5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .btns{
    height:30px;
    width: 100px;
    background-image: linear-gradient(to right, green,rgb(27, 208, 27));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .btns:hover{
    background-image: linear-gradient(to right, rgb(20, 213, 20),rgb(4, 247, 4));
  }
 .title{
    height:5%;
 }
 .fav{
  height:10%;
  margin-left: -10vw;
 }