.Nav{
    height:12vh;
    width:98.8vw;
    background-color: rgb(136, 184, 184);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(rgb(207, 196, 196), rgb(211, 217, 211), rgb(168, 168, 189), alpha);
  border-bottom: 5px solid black;
}
.Nav::-webkit-scrollbar{
    display: none;
}
.title{
    font-size: 4.5rem;
    color: whitesmoke;
    font-weight: bold;
    width: 30%;
    /* height:5%; */
    /* color:linen */
}
.fff{
  color: yellow;
}
.searchBar{
    height:100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.inputLabel{
    height:40%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}
.inputWrap{
  height: 50%;
  /* width: ; */
  width: 100%;
}
.sInput {
    height:100%;
    width: 80%;
    border-radius: 2rem;
    border: 0px;
    outline: none;
  }
  
  .sInput::placeholder {
    font-size: 1.4rem;
    margin-left: 70px;
    color: darkslategray;
    font-weight: bold;
    
  }
  .profile{
    height:100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .profileBtn{
    height:30px;
    width: 100px;
    background-image: linear-gradient(to right, green,rgb(27, 208, 27));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px;
    outline: none;
    text-decoration: none;


  }
  .profileBtn:hover{
    background-image: linear-gradient(to right, rgb(17, 223, 17),rgb(9, 237, 9));
  }
  #pBtn{
    margin-left: 10px;
  }
  .links{
    text-decoration: none;
    color: black;

  }
  
 