.recipe{
    height: 140vh;
    width: 98.8vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: green;
    background-image: linear-gradient( rgb(136, 184, 184)10%,rgb(209, 228, 60)80%);

}

.stars{
    font-size: 2rem;
    color: rgb(22, 22, 21);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


.recipeItem{
    height:120vh;
    width: 98.9vw;
    display: flex;
    justify-content: space-around;
}
.imgDiv{
    height:100%;
    width: 45%;
    /* background-color: red; */
    margin-top: 5vh;

}
.recipeImage{
    height:50vh;
    width:60% ;
    border-radius: 1rem;
box-shadow: 5px 5px 5px 3px rgba(rgb(90, 88, 88), rgb(105, 108, 105), rgb(126, 126, 141), alpha);
}
.details{
    height:100%;
    width: 45%;
/* background-color: green; */
/* border: 1px solid green; */
margin-top: 5vh;


}
.Name{
    font-size: 2.5rem;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.Name{
    display: flex;
    justify-content: flex-start;
}
.timeADifficultyAserv{
    font-size: 2rem;
}

.header{
    height:45%;
    width: 100%;
    display: flex;
justify-content: space-around;
}
.timeADifficultyAserv{
    height:20%;
    width: 60;
}
.footer{
    height:45%;
    width: 100%;
    display: flex;
justify-content: space-around;
font-weight: bolder;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;
}
.howToCook{
    height:45%;
    width: 100%;
    overflow: scroll;

}
.howToCook::-webkit-scrollbar{
    display: none;
}
.htcs{
    font-weight: bold;
    font-size: 1.5rem;
}
.ingr{
    height:50%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    /* align-items: ; */

}
.ingr::-webkit-scrollbar{
    display: none;
}
.buttonss{
    height:40%;
    width: 100%;
    /* display: flex; */
}
.additionalD{
    height:30%;
    width: 80%;
}
.adHeader{
    height:45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;

}
.adFooter{
    height:45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: italic;
}
.favs{
    height:30%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;
}
.favorites{
    height:5vh;
    width: 10vw;
    background-image: linear-gradient(to right , green,rgb(101, 233, 14));
    cursor: pointer;
}
.favorites:hover{
    background-image: linear-gradient(to right,rgb(21, 231, 21),rgb(11, 251, 11));
}
.video{
    height:5vh;
    width: 10vw;
    background-image: linear-gradient(to right , rgb(225, 70, 22),rgb(233, 14, 14));
    border-radius: 0.4rem;
}
.video a{
    text-decoration: none;
    color: black;
}
.video:hover{
    background-image: linear-gradient(to right,red,red);
}