.trending{
    height:70vh;
    width: 98.8vw;
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.resipepage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.resipe{
    height:100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px 10px rgba(133, 130, 130, 0.5);
text-decoration: none;
color: black;
}
.mealImg{
    height:50%;
    width: 80%;
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    margin-left: -60vw;
    /* font-family: cursive; */
}